.root{
    -fx-background-color: #808080;
}

.anchor-drawing-pane{
    -fx-background-color: #505050;
}

.check-box *.box {
    -fx-background-color: #c0c0c0;
}

.menu-bar{
    -fx-text-fill: #FEFEFE;
    -fx-background-color: #808080;
}

.menu{
    -fx-background-color: #808080;
}

.menu:hover{
    -fx-background-color: #8080B0;
 }

.context-menu{
    -fx-background-color: #808080;
}

.menu-item:hover{
    -fx-background-color: #8080B0;
}

.titled-pane:hover{
    -fx-text-fill: #FEFEFE;
 }

.titled-pane > .title{
    -fx-background-color: #808080;
}

.titled-pane > .title:hover{
    -fx-background-color: #8080B0;
}

.titled-pane:hover > .title{
    -fx-background-color: #505050;
}

.titled-pane > .content{
    -fx-background-color: #808080;
    -fx-border-width: 0px;
}

.check-box .box {
    -fx-background-color: #DCDCDC;
    -fx-border-width: 0px;
}

.check-box:selected .mark {
    -fx-background-color: #FEFEFE;
}

.check-box:selected .box {
    -fx-background-color: #505050;
}

.button{
    -fx-text-fill: #FEFEFE;
    -fx-background-color: #808080;
}

.button:hover{
    -fx-background-color: #8080B0;
}
