.root{
    -fx-background-color: #808080;
}


.anchor-drawing-pane{
    -fx-background-color: #505050;
}



.menu-bar{
    -fx-background-color: #808080;
}

.menu{
    -fx-background-color: #808080;
}

.menu:hover{
    -fx-background-color: #8080B0;
 }

.context-menu{
    -fx-background-color: #808080;
}

.menu-item:hover{
    -fx-background-color: #8080B0;
}



.titled-pane:hover{
    -fx-text-fill: #FEFEFE;
 }

.titled-pane{
    -fx-text-fill: #303030;
}

.titled-pane > .title{
    -fx-background-color: #808080;
}

.titled-pane:hover > .title{
    -fx-background-color: #8080B0;
}

.titled-pane > .content{
    -fx-text-fill: #808080;
    -fx-background-color: #808080;
    -fx-border-width: 0px;
}



.check-box .box {
    -fx-text-fill: #808080;
    -fx-background-color: #FEFEFE;
    -fx-border-width: 0px;
}

.check-box:selected .mark {
    -fx-background-color: #FEFEFE;
}

.check-box:selected .box {
    -fx-background-color: #505050;
}



.button{
    -fx-text-fill: #505050;
    -fx-background-color: #808080;
}

.button:hover{
    -fx-text-fill: #FEFEFE;
    -fx-background-color: #8080B0;
}



.table-view {
   -fx-background-color: #606060;
   -fx-background-radius: 4;
}

.table-view *.scroll-bar:horizontal,
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button,
.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
}

.table-view .filler {
    -fx-text-fill: #808080;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label {
    -fx-text-fill: #FEFEFE;
}

.table-view .table-cell {
    -fx-text-fill: #FEFEFE;
}

.table-row-cell {
    -fx-background-color: #808080;
}

.table-row-cell:selected {
    -fx-background-color: #505050;
    -fx-selection-bar-non-focused: #E0E0E0;
}

.table-row-cell:filled:selected {
    -fx-table-cell-border-color: #FEFEFE;
    -fx-control-inner-focus: #757575;
    -fx-background-color: #757575;
}

.table-row-cell:filled:selected:hover, .table-row-cell:filled:hover {
    -fx-background-color: #8080B0;
    -fx-accent: #8080B0;
}