.root{
    -fx-background-color: #FEFEFE;
}


.anchor-drawing-pane{
    -fx-background-color: #DCDCDC;

}


.menu-bar{
    -fx-background-color: #FEFEFE;
}



.titled-pane:hover{
    -fx-text-fill: #FEFEFE;
 }

.titled-pane > .title{
    -fx-background-color: #FEFEFE;
}

.titled-pane > .title:hover{
    -fx-background-color: #1999C9;
}

.titled-pane:hover > .title{
    -fx-background-color: #1999C9;
}

.titled-pane > .content{
    -fx-background-color: #FEFEFE;
    -fx-border-width: 0px;
}



.check-box .box {
    -fx-background-color: #DCDCDC;
    -fx-border-width: 0px;
}

.check-box:selected .mark {
    -fx-background-color: #FEFEFE;
}

.check-box:selected .box {
    -fx-background-color: #1999C9;
}



.button{
    -fx-background-color: #FEFEFE;
}

.button:hover{
    -fx-text-fill: #FEFEFE;
    -fx-background-color: #1999C9;
}



.text-field {
     -fx-background-color: #DCDCDC;
}



.slider > .track {
     -fx-background-color: #DCDCDC;
}

.slider > .thumb {
     -fx-background-color: #808080;
}

.slider:hover > .thumb {
     -fx-background-color: #1999C9;
}

.slider:selected > .thumb {
     -fx-border-radius: 4;
     -fx-border-color: #1999C9
}


.tooltip {
    -fx-background: #FEFEFE;
    -fx-text-fill: #303030;
    -fx-background-color: #FEFEFE;
    -fx-background-radius: 0px;
    -fx-effect: null;
}


.label{
    -fx-text-fill: #303030;
}



.combo-box{
    -fx-background-color: #FEFEFE;
}

.combo-box-popup .list-view{
    -fx-background-color: #FEFEFE;
}

.table-view .scroll-bar:horizontal * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-view {
   -fx-background-color: #DCDCDC;
   -fx-background-radius: 4;
   -fx-focus-color: transparent;

}




.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label {
    -fx-text-fill: #303030;
}

.table-view .table-cell {
    -fx-text-fill: #303030;
    /*-fx-padding: 0 0 0 15px;*/
    -fx-text-align: center;
}
.table-view .table-cell {
    -fx-bounds-type: logical_vertical_center;
    /*-fx-padding: 0 0 0 15px;*/
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: #FEFEFE;
}

.table-row-cell:selected {
    -fx-background-color: #505050;
    -fx-selection-bar-non-focused: #E0E0E0;
}

.table-row-cell:filled:selected {
    -fx-table-cell-border-color: #EFEFEF;
    -fx-control-inner-focus: #EFEFEF;
    -fx-background-color: #EFEFEF;
}

.table-row-cell:filled:selected:hover, .table-row-cell:filled:hover {
    -fx-background-color: #1999C9;
    -fx-accent: #1999C9;
}